<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fall2018.csc2017.Games">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="fall2018.csc2017.Games.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fall2018.csc2017.Games.SlidingTileGameActivity" />
        <activity android:name="fall2018.csc2017.Games.SlidingTileStartingActivity" />
        <activity android:name="fall2018.csc2017.Games.SignUpActivity" />
        <activity android:name="fall2018.csc2017.Games.SignUpSignInActivity" />
        <activity
            android:name="fall2018.csc2017.Games.ScoreActivity"
            android:label="@string/title_activity_global_score_board"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="fall2018.csc2017.Games.SlidingTileComplexityActivity"
            android:label="@string/title_activity_complexity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="fall2018.csc2017.Games.PasswordChangeActivity" />
        <activity android:name="fall2018.csc2017.Games.SlidingTileImageActivity" />
        <activity android:name="fall2018.csc2017.Games.ScoreBoardActivity" />
        <activity android:name="fall2018.csc2017.Games.ChooseGameActivity" />
        <activity android:name="fall2018.csc2017.Games.FlipGameActivity" />
        <activity android:name="fall2018.csc2017.Games.FlipStartingActivity" />
        <activity android:name="fall2018.csc2017.Games.FlipComplexityActivity" />
        <activity android:name="fall2018.csc2017.Games.BlackJackStartingActivity" />
        <activity android:name="fall2018.csc2017.Games.BlackJackGameActivity" />
        <activity android:name="fall2018.csc2017.Games.ScoreBoardSelectionActivity" />
        <activity android:name="fall2018.csc2017.Games.BlackJackSummaryActivity" />
        <activity android:name="fall2018.csc2017.Games.FlipItLevelComplexityActivity" />
        <activity android:name="fall2018.csc2017.Games.BlackJackComplexityActivity"></activity>
    </application>

</manifest>