<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fall2018.csc2017.slidingtiles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".SignUpSignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity" />
        <activity android:name=".StartingActivity" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".ScoreActivity"
            android:label="@string/title_activity_global_score_board"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ComplexityActivity"
            android:label="@string/title_activity_complexity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".PasswordChangeActivity" />
        <activity android:name=".ImageTilesActivity" />
        <activity android:name=".ScoreBoardActivity" />
        <activity android:name=".ChooseGameActivity" />
        <activity android:name=".FlipGameActivity" />
        <activity android:name=".FlipStartingActivity" />
        <activity android:name=".FlipComplexityActivity" />
        <activity android:name=".FlipScoreBoardActivity" />
        <activity android:name=".BlackJackStartingActivity" />
        <activity android:name=".BlackJackGameActivity" />
        <activity android:name=".FlipScoreActivity"></activity>
    </application>

</manifest>